PUBLIC_SANITY_PROJECT_ID=sw0gwzgu
PUBLIC_SANITY_DATASET=production
PUBLIC_SANITY_API_VERSION=2024-01-01
SHOPIFY_STOREFRONT_TOKEN=
SHOPIFY_STORE_DOMAIN=
RESEND_API_KEY=
PUBLIC_SUPABASE_URL=https://lsnwtodjzoxuwkvrdxtg.supabase.co
PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imxzbnd0b2Rqem94dXdrdnJkeHRnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODExOTA5OTcsImV4cCI6MjA5Njc2Njk5N30.EySiZEG-JSuB749Vo2ri6QK9Pf1bjhqHs8L5AfIDksw
