PUBLIC_SANITY_PROJECT_ID=sw0gwzgu
PUBLIC_SANITY_DATASET=production
PUBLIC_SANITY_API_VERSION=2024-01-01
SHOPIFY_STOREFRONT_TOKEN=
SHOPIFY_STORE_DOMAIN=
RESEND_API_KEY=
SLACK_WEBHOOK_URL=
GA4_PROPERTY_ID=543478985
GCP_PROJECT_NUMBER=
GCP_SERVICE_ACCOUNT_EMAIL=blue-raven-analytics@blue-raven-500901.iam.gserviceaccount.com
GCP_WORKLOAD_IDENTITY_POOL_ID=
GCP_WORKLOAD_IDENTITY_POOL_PROVIDER_ID=
CRON_SECRET=
PUBLIC_SUPABASE_URL=https://fwutloehgtvqywdestcl.supabase.co
PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ3dXRsb2VoZ3R2cXl3ZGVzdGNsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODExOTMwMTUsImV4cCI6MjA5Njc2OTAxNX0.c7tISX74gEL-M4WeoPROvcxzO33HKB1gvYYT7uQXVUM
